/* Run test */
/* *{
    /* background-color: blue; */
/* } */

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#products{
    padding: 20px;
    margin-top: 2rem;
}
#products img{
    height: 250px;
}

#products button{
    color: white;
    background-color: rgb(92, 92, 92);
    border: none;
}

#promos{
    margin-left: 5rem;
    padding: 1rem;
}

#promos a{
    color: white;
    background-color: rgb(125, 125, 125);
    border: none;
}

#promos button{
    color: white;
    background-color: rgb(59, 57, 57);
    border: none;
    margin-right: 8rem;
}
#about h1{
    margin-left: 7rem;
    margin-bottom: 1rem;
}


footer {
    margin-top: 1rem;
    background-color: rgb(235, 233, 233);
    color: rgb(0, 0, 0);
}
